process { withName: 'CONCAT_TABLES' { container = 'oras://community.wave.seqera.io/library/r_tidyverse:8018b08123990697' } }
process { withName: 'EXTRACT_ALLELE_TABLE' { container = 'oras://community.wave.seqera.io/library/pmotools:1431318b9150e3f5' } }
process { withName: 'EXTRACT_PANEL_INFO_TO_BED' { container = 'oras://community.wave.seqera.io/library/pmotools:1431318b9150e3f5' } }
process { withName: 'EXTRACT_POPULATION_MAP_FROM_PMO' { container = 'oras://community.wave.seqera.io/library/pmotools:1431318b9150e3f5' } }
process { withName: 'INDEX_POPULATION_ASSIGNMENT' { container = 'oras://community.wave.seqera.io/library/r_tidyverse:8018b08123990697' } }
process { withName: 'MERGE_TABLES' { container = 'oras://community.wave.seqera.io/library/r_tidyverse:8018b08123990697' } }
process { withName: 'SPLIT_AA_TABLE_BY_POP' { container = 'oras://community.wave.seqera.io/library/r_tidyverse:8018b08123990697' } }
process { withName: 'SPLIT_ALLELE_TABLE_BY_POP' { container = 'oras://community.wave.seqera.io/library/r_tidyverse:8018b08123990697' } }
