process { withName: 'ADD_REF_SEQS_WITH_FULL_GENOME_REF_FASTA' { container = 'oras://community.wave.seqera.io/library/add_ref_seqs_biostrings:c97b2ae0d1b87935' } }
process { withName: 'ADD_REF_SEQS_WITH_TARGETED_REF_FASTA' { container = 'oras://community.wave.seqera.io/library/add_ref_seqs_biostrings:c97b2ae0d1b87935' } }
process { withName: 'CONCAT_TABLES' { container = 'oras://community.wave.seqera.io/library/tidyverse_tables:565b0534472e6e72' } }
process { withName: 'DCIFER_SLAF_WRAPPER' { container = 'oras://community.wave.seqera.io/library/dcifer_slaf_wrapper:9a9cee2a25907c30' } }
process { withName: 'ESTIMATE_ALLELE_FREQUENCY_NAIVE' { container = 'oras://community.wave.seqera.io/library/pgecore:cb41742e1c237fbe' } }
process { withName: 'ESTIMATE_ALLELE_PREVALENCE_NAIVE' { container = 'oras://community.wave.seqera.io/library/pgecore:cb41742e1c237fbe' } }
process { withName: 'ESTIMATE_ML_PREVFREQ_NAIVE' { container = 'oras://community.wave.seqera.io/library/pgecore:cb41742e1c237fbe' } }
process { withName: 'EXTRACT_ALLELE_TABLE' { container = 'oras://community.wave.seqera.io/library/pmotools:1431318b9150e3f5' } }
process { withName: 'EXTRACT_PANEL_INFO_TO_BED' { container = 'oras://community.wave.seqera.io/library/pmotools:1431318b9150e3f5' } }
process { withName: 'EXTRACT_POPULATION_MAP_FROM_PMO' { container = 'oras://community.wave.seqera.io/library/pmotools:1431318b9150e3f5' } }
process { withName: 'FEM_WRAPPER' { container = 'oras://community.wave.seqera.io/library/fem_wrapper:5cefe9737b74a85f' } }
process { withName: 'IDM_WRAPPER' { container = 'oras://community.wave.seqera.io/library/idm_wrapper:22315b34ce6ce588' } }
process { withName: 'INDEX_POPULATION_ASSIGNMENT' { container = 'oras://community.wave.seqera.io/library/tidyverse_tables:565b0534472e6e72' } }
process { withName: 'MERGE_TABLES' { container = 'oras://community.wave.seqera.io/library/tidyverse_tables:565b0534472e6e72' } }
process { withName: 'MLBM_WRAPPER' { container = 'oras://community.wave.seqera.io/library/mlbm_wrapper:81f4595b92e41d5b' } }
process { withName: 'SLAF_FROM_MHAPS_FREQS' { container = 'oras://community.wave.seqera.io/library/pgecore:cb41742e1c237fbe' } }
process { withName: 'SLAF_FROM_STAVE_MLAF' { container = 'oras://community.wave.seqera.io/library/slaf_from_stave_mlaf:d8474b4d08e5c79f' } }
process { withName: 'SPLIT_AA_TABLE_BY_POP' { container = 'oras://community.wave.seqera.io/library/tidyverse_tables:565b0534472e6e72' } }
process { withName: 'SPLIT_ALLELE_TABLE_BY_POP' { container = 'oras://community.wave.seqera.io/library/tidyverse_tables:565b0534472e6e72' } }
process { withName: 'TRANSLATE_LOCI_OF_INTEREST' { container = 'oras://community.wave.seqera.io/library/translate_loci_of_interest:6b284990e8e52aa4' } }
