process { withName: 'ADD_REF_SEQS_WITH_FULL_GENOME_REF_FASTA' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/a1/a1ec4aede8ca7ce3bbde592f7b88678ff5ccff21283a0f20f61f5fdca1a13db0/data' } }
process { withName: 'ADD_REF_SEQS_WITH_TARGETED_REF_FASTA' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/a1/a1ec4aede8ca7ce3bbde592f7b88678ff5ccff21283a0f20f61f5fdca1a13db0/data' } }
process { withName: 'CONCAT_TABLES' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/25/25ec37d72caff047524cad028f190afbd7e97ff61cba29d8172883993c8a5c75/data' } }
process { withName: 'DCIFER_SLAF_WRAPPER' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/9b/9bab54983c4e424479bda4b7b8d6a17b403205bc68e93dc3078485f6b6528d3a/data' } }
process { withName: 'ESTIMATE_ALLELE_FREQUENCY_NAIVE' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/7b/7b7ca5eb26f1bbaf3fba4ea585e789071aa49902df3182030df649f596ac97b1/data' } }
process { withName: 'ESTIMATE_ALLELE_PREVALENCE_NAIVE' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/7b/7b7ca5eb26f1bbaf3fba4ea585e789071aa49902df3182030df649f596ac97b1/data' } }
process { withName: 'ESTIMATE_ML_PREVFREQ_NAIVE' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/7b/7b7ca5eb26f1bbaf3fba4ea585e789071aa49902df3182030df649f596ac97b1/data' } }
process { withName: 'EXTRACT_ALLELE_TABLE' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/18/189c44118da9b46a927fb57c5ca01460fb93bfbc4b85bcb4484036888b8d5878/data' } }
process { withName: 'EXTRACT_PANEL_INFO_TO_BED' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/18/189c44118da9b46a927fb57c5ca01460fb93bfbc4b85bcb4484036888b8d5878/data' } }
process { withName: 'EXTRACT_POPULATION_MAP_FROM_PMO' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/18/189c44118da9b46a927fb57c5ca01460fb93bfbc4b85bcb4484036888b8d5878/data' } }
process { withName: 'FEM_WRAPPER' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/e7/e71d228e76032b27c6fe6a5cabf12b9e8988d15d66f9bbc4d92a53b884801760/data' } }
process { withName: 'IDM_WRAPPER' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/09/095a76bcdad467aecddbf4109b65c1dc1ec1a624a30c19a0cf1c4e9aded6b604/data' } }
process { withName: 'INDEX_POPULATION_ASSIGNMENT' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/25/25ec37d72caff047524cad028f190afbd7e97ff61cba29d8172883993c8a5c75/data' } }
process { withName: 'MERGE_TABLES' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/25/25ec37d72caff047524cad028f190afbd7e97ff61cba29d8172883993c8a5c75/data' } }
process { withName: 'MLBM_WRAPPER' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/b2/b2cde7b1f98319441058490837b4fd366e55f570bf00c855d226e24c142595dd/data' } }
process { withName: 'SLAF_FROM_MHAPS_FREQS' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/7b/7b7ca5eb26f1bbaf3fba4ea585e789071aa49902df3182030df649f596ac97b1/data' } }
process { withName: 'SLAF_FROM_STAVE_MLAF' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/59/59694b9b3a63712c65ca417044bd5fb4d3927d9958fcf033bfa528a64d04caf8/data' } }
process { withName: 'SPLIT_AA_TABLE_BY_POP' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/25/25ec37d72caff047524cad028f190afbd7e97ff61cba29d8172883993c8a5c75/data' } }
process { withName: 'SPLIT_ALLELE_TABLE_BY_POP' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/25/25ec37d72caff047524cad028f190afbd7e97ff61cba29d8172883993c8a5c75/data' } }
process { withName: 'TRANSLATE_LOCI_OF_INTEREST' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/aa/aa9ef580720050e47cf35c8e9bf304181d75f083469f481c2c8e188af16e443b/data' } }
