process { withName: 'ADD_REF_SEQS_WITH_FULL_GENOME_REF_FASTA' { conda = 'modules/local/add_ref_seqs_with_full_genome_ref_fasta/.conda-lock/linux_amd64-bd-4bff14692906e36a_1.txt' } }
process { withName: 'ADD_REF_SEQS_WITH_TARGETED_REF_FASTA' { conda = 'modules/local/add_ref_seqs_with_targeted_ref_fasta/.conda-lock/linux_amd64-bd-4bff14692906e36a_1.txt' } }
process { withName: 'CONCAT_TABLES' { conda = 'modules/local/concat_tables/.conda-lock/linux_amd64-bd-4e1e0dec2f11d009_1.txt' } }
process { withName: 'DCIFER_SLAF_WRAPPER' { conda = 'modules/local/dcifer_slaf_wrapper/.conda-lock/linux_amd64-bd-4d87f0ecbaaf98ef_1.txt' } }
process { withName: 'ESTIMATE_ALLELE_FREQUENCY_NAIVE' { conda = 'modules/local/estimate_allele_frequency_naive/.conda-lock/linux_amd64-bd-b3d363b44f3cab5e_1.txt' } }
process { withName: 'ESTIMATE_ALLELE_PREVALENCE_NAIVE' { conda = 'modules/local/estimate_allele_prevalence_naive/.conda-lock/linux_amd64-bd-b3d363b44f3cab5e_1.txt' } }
process { withName: 'ESTIMATE_ML_PREVFREQ_NAIVE' { conda = 'modules/local/estimate_multilocus_prevfreq_naive/.conda-lock/linux_amd64-bd-b3d363b44f3cab5e_1.txt' } }
process { withName: 'EXTRACT_ALLELE_TABLE' { conda = 'modules/local/extract_allele_table/.conda-lock/linux_amd64-bd-95ef48ca9c18fa35_4.txt' } }
process { withName: 'EXTRACT_PANEL_INFO_TO_BED' { conda = 'modules/local/extract_panel_info_to_bed/.conda-lock/linux_amd64-bd-95ef48ca9c18fa35_4.txt' } }
process { withName: 'EXTRACT_POPULATION_MAP_FROM_PMO' { conda = 'modules/local/extract_population_map_from_pmo/.conda-lock/linux_amd64-bd-95ef48ca9c18fa35_4.txt' } }
process { withName: 'FEM_WRAPPER' { conda = 'modules/local/fem_wrapper/.conda-lock/linux_amd64-bd-c76f649ce875f71b_1.txt' } }
process { withName: 'IDM_WRAPPER' { conda = 'modules/local/idm_wrapper/.conda-lock/linux_amd64-bd-bbf090b308b798b9_2.txt' } }
process { withName: 'INDEX_POPULATION_ASSIGNMENT' { conda = 'modules/local/index_population_assignment/.conda-lock/linux_amd64-bd-4e1e0dec2f11d009_1.txt' } }
process { withName: 'MERGE_TABLES' { conda = 'modules/local/merge_tables/.conda-lock/linux_amd64-bd-4e1e0dec2f11d009_1.txt' } }
process { withName: 'MLBM_WRAPPER' { conda = 'modules/local/mlbm_wrapper/.conda-lock/linux_amd64-bd-baf88b1c56575a41_1.txt' } }
process { withName: 'SLAF_FROM_MHAPS_FREQS' { conda = 'modules/local/slaf_from_mhaps_freqs/.conda-lock/linux_amd64-bd-b3d363b44f3cab5e_1.txt' } }
process { withName: 'SLAF_FROM_STAVE_MLAF' { conda = 'modules/local/slaf_from_stave_mlaf/.conda-lock/linux_amd64-bd-baf88b1c56575a41_1.txt' } }
process { withName: 'SPLIT_AA_TABLE_BY_POP' { conda = 'modules/local/split_aa_table_by_population/.conda-lock/linux_amd64-bd-4e1e0dec2f11d009_1.txt' } }
process { withName: 'SPLIT_ALLELE_TABLE_BY_POP' { conda = 'modules/local/split_allele_table_by_population/.conda-lock/linux_amd64-bd-4e1e0dec2f11d009_1.txt' } }
process { withName: 'TRANSLATE_LOCI_OF_INTEREST' { conda = 'modules/local/translate_loci_of_interest/.conda-lock/linux_amd64-bd-dd81facbe62d2c91_1.txt' } }
