process { withName: 'ADD_REF_SEQS_WITH_FULL_GENOME_REF_FASTA' { container = 'community.wave.seqera.io/library/add_ref_seqs_biostrings:a564fac02451aff5' } }
process { withName: 'ADD_REF_SEQS_WITH_TARGETED_REF_FASTA' { container = 'community.wave.seqera.io/library/add_ref_seqs_biostrings:a564fac02451aff5' } }
process { withName: 'CONCAT_TABLES' { container = 'community.wave.seqera.io/library/r_tidyverse:eb2b4c90329c339e' } }
process { withName: 'DCIFER_SLAF_WRAPPER' { container = 'community.wave.seqera.io/library/dcifer_slaf_wrapper:7599d72a94d4b1ed' } }
process { withName: 'ESTIMATE_ALLELE_FREQUENCY_NAIVE' { container = 'community.wave.seqera.io/library/pgecore:1f0ec0a47e85e3fa' } }
process { withName: 'ESTIMATE_ALLELE_PREVALENCE_NAIVE' { container = 'community.wave.seqera.io/library/pgecore:1f0ec0a47e85e3fa' } }
process { withName: 'ESTIMATE_ML_PREVFREQ_NAIVE' { container = 'community.wave.seqera.io/library/pgecore:1f0ec0a47e85e3fa' } }
process { withName: 'EXTRACT_ALLELE_TABLE' { container = 'community.wave.seqera.io/library/pmotools:2f07e739e3cfff13' } }
process { withName: 'EXTRACT_PANEL_INFO_TO_BED' { container = 'community.wave.seqera.io/library/pmotools:2f07e739e3cfff13' } }
process { withName: 'EXTRACT_POPULATION_MAP_FROM_PMO' { container = 'community.wave.seqera.io/library/pmotools:2f07e739e3cfff13' } }
process { withName: 'FEM_WRAPPER' { container = 'community.wave.seqera.io/library/fem_wrapper:af59a74088459c65' } }
process { withName: 'IDM_WRAPPER' { container = 'community.wave.seqera.io/library/idm_wrapper:8b9e6539baa49caa' } }
process { withName: 'INDEX_POPULATION_ASSIGNMENT' { container = 'community.wave.seqera.io/library/r_tidyverse:eb2b4c90329c339e' } }
process { withName: 'MERGE_TABLES' { container = 'community.wave.seqera.io/library/r_tidyverse:eb2b4c90329c339e' } }
process { withName: 'MLBM_WRAPPER' { container = 'community.wave.seqera.io/library/mlbm_wrapper:52b974f98f8b840e' } }
process { withName: 'SLAF_FROM_MHAPS_FREQS' { container = 'community.wave.seqera.io/library/pgecore:1f0ec0a47e85e3fa' } }
process { withName: 'SLAF_FROM_STAVE_MLAF' { container = 'community.wave.seqera.io/library/slaf_from_stave_mlaf:ace8317a34749bc2' } }
process { withName: 'SPLIT_AA_TABLE_BY_POP' { container = 'community.wave.seqera.io/library/r_tidyverse:eb2b4c90329c339e' } }
process { withName: 'SPLIT_ALLELE_TABLE_BY_POP' { container = 'community.wave.seqera.io/library/r_tidyverse:eb2b4c90329c339e' } }
process { withName: 'TRANSLATE_LOCI_OF_INTEREST' { container = 'community.wave.seqera.io/library/translate_loci_of_interest:02fe1797e703fd21' } }
