process { withName: 'ADD_REF_SEQS_WITH_FULL_GENOME_REF_FASTA' { container = 'oras://community.wave.seqera.io/library/add_ref_seqs_biostrings:6416162e38208eec' } }
process { withName: 'ADD_REF_SEQS_WITH_TARGETED_REF_FASTA' { container = 'oras://community.wave.seqera.io/library/add_ref_seqs_biostrings:6416162e38208eec' } }
process { withName: 'CONCAT_TABLES' { container = 'oras://community.wave.seqera.io/library/tidyverse_tables:eb638a79c53b3797' } }
process { withName: 'DCIFER_SLAF_WRAPPER' { container = 'oras://community.wave.seqera.io/library/dcifer_slaf_wrapper:6af32e02697ba6f3' } }
process { withName: 'ESTIMATE_ALLELE_FREQUENCY_NAIVE' { container = 'oras://community.wave.seqera.io/library/pgecore:a18df8d69a433f2a' } }
process { withName: 'ESTIMATE_ALLELE_PREVALENCE_NAIVE' { container = 'oras://community.wave.seqera.io/library/pgecore:a18df8d69a433f2a' } }
process { withName: 'ESTIMATE_ML_PREVFREQ_NAIVE' { container = 'oras://community.wave.seqera.io/library/pgecore:a18df8d69a433f2a' } }
process { withName: 'EXTRACT_ALLELE_TABLE' { container = 'oras://community.wave.seqera.io/library/pmotools:d1b39a3d4c4e5e61' } }
process { withName: 'EXTRACT_PANEL_INFO_TO_BED' { container = 'oras://community.wave.seqera.io/library/pmotools:d1b39a3d4c4e5e61' } }
process { withName: 'EXTRACT_POPULATION_MAP_FROM_PMO' { container = 'oras://community.wave.seqera.io/library/pmotools:d1b39a3d4c4e5e61' } }
process { withName: 'FEM_WRAPPER' { container = 'oras://community.wave.seqera.io/library/fem_wrapper:c1cfea3cbffdea13' } }
process { withName: 'IDM_WRAPPER' { container = 'oras://community.wave.seqera.io/library/idm_wrapper:234a74738940ddf5' } }
process { withName: 'INDEX_POPULATION_ASSIGNMENT' { container = 'oras://community.wave.seqera.io/library/tidyverse_tables:eb638a79c53b3797' } }
process { withName: 'MERGE_TABLES' { container = 'oras://community.wave.seqera.io/library/tidyverse_tables:eb638a79c53b3797' } }
process { withName: 'MLBM_WRAPPER' { container = 'oras://community.wave.seqera.io/library/mlbm_wrapper:1dc2e27a9991aa09' } }
process { withName: 'SLAF_FROM_MHAPS_FREQS' { container = 'oras://community.wave.seqera.io/library/pgecore:a18df8d69a433f2a' } }
process { withName: 'SLAF_FROM_STAVE_MLAF' { container = 'oras://community.wave.seqera.io/library/slaf_from_stave_mlaf:1b44980fc997ad26' } }
process { withName: 'SPLIT_AA_TABLE_BY_POP' { container = 'oras://community.wave.seqera.io/library/tidyverse_tables:eb638a79c53b3797' } }
process { withName: 'SPLIT_ALLELE_TABLE_BY_POP' { container = 'oras://community.wave.seqera.io/library/tidyverse_tables:eb638a79c53b3797' } }
process { withName: 'TRANSLATE_LOCI_OF_INTEREST' { container = 'oras://community.wave.seqera.io/library/translate_loci_of_interest:d7b967c006ca2cf8' } }
