process { withName: 'ADD_REF_SEQS_WITH_FULL_GENOME_REF_FASTA' { container = 'community.wave.seqera.io/library/bioc_biostrings:4bff14692906e36a' } }
process { withName: 'ADD_REF_SEQS_WITH_TARGETED_REF_FASTA' { container = 'community.wave.seqera.io/library/bioc_biostrings:4bff14692906e36a' } }
process { withName: 'CONCAT_TABLES' { container = 'community.wave.seqera.io/library/r_tidyverse:4e1e0dec2f11d009' } }
process { withName: 'DCIFER_SLAF_WRAPPER' { container = 'community.wave.seqera.io/library/dcifer_slaf_wrapper:4d87f0ecbaaf98ef' } }
process { withName: 'ESTIMATE_ALLELE_FREQUENCY_NAIVE' { container = 'community.wave.seqera.io/library/pgecore_r:b3d363b44f3cab5e' } }
process { withName: 'ESTIMATE_ALLELE_PREVALENCE_NAIVE' { container = 'community.wave.seqera.io/library/pgecore_r:b3d363b44f3cab5e' } }
process { withName: 'ESTIMATE_ML_PREVFREQ_NAIVE' { container = 'community.wave.seqera.io/library/pgecore_r:b3d363b44f3cab5e' } }
process { withName: 'EXTRACT_ALLELE_TABLE' { container = 'community.wave.seqera.io/library/pmotools:95ef48ca9c18fa35' } }
process { withName: 'EXTRACT_PANEL_INFO_TO_BED' { container = 'community.wave.seqera.io/library/pmotools:95ef48ca9c18fa35' } }
process { withName: 'EXTRACT_POPULATION_MAP_FROM_PMO' { container = 'community.wave.seqera.io/library/pmotools:95ef48ca9c18fa35' } }
process { withName: 'FEM_WRAPPER' { container = 'community.wave.seqera.io/library/fem_wrapper:c76f649ce875f71b' } }
process { withName: 'IDM_WRAPPER' { container = 'community.wave.seqera.io/library/idm_wrapper:bbf090b308b798b9' } }
process { withName: 'INDEX_POPULATION_ASSIGNMENT' { container = 'community.wave.seqera.io/library/r_tidyverse:4e1e0dec2f11d009' } }
process { withName: 'MERGE_TABLES' { container = 'community.wave.seqera.io/library/r_tidyverse:4e1e0dec2f11d009' } }
process { withName: 'MLBM_WRAPPER' { container = 'community.wave.seqera.io/library/variantstring:baf88b1c56575a41' } }
process { withName: 'SLAF_FROM_MHAPS_FREQS' { container = 'community.wave.seqera.io/library/pgecore_r:b3d363b44f3cab5e' } }
process { withName: 'SLAF_FROM_STAVE_MLAF' { container = 'community.wave.seqera.io/library/variantstring:baf88b1c56575a41' } }
process { withName: 'SPLIT_AA_TABLE_BY_POP' { container = 'community.wave.seqera.io/library/r_tidyverse:4e1e0dec2f11d009' } }
process { withName: 'SPLIT_ALLELE_TABLE_BY_POP' { container = 'community.wave.seqera.io/library/r_tidyverse:4e1e0dec2f11d009' } }
process { withName: 'TRANSLATE_LOCI_OF_INTEREST' { container = 'community.wave.seqera.io/library/translate_loci_of_interest:dd81facbe62d2c91' } }
