process { withName: 'CONCAT_TABLES' { conda = 'modules/local/concat_tables/.conda-lock/linux_arm64-bd-15b9e098f3fff0e2_1.txt' } }
process { withName: 'EXTRACT_ALLELE_TABLE' { conda = 'modules/local/extract_allele_table/.conda-lock/linux_arm64-bd-68db46a453531d5c_4.txt' } }
process { withName: 'EXTRACT_PANEL_INFO_TO_BED' { conda = 'modules/local/extract_panel_info_to_bed/.conda-lock/linux_arm64-bd-68db46a453531d5c_4.txt' } }
process { withName: 'EXTRACT_POPULATION_MAP_FROM_PMO' { conda = 'modules/local/extract_population_map_from_pmo/.conda-lock/linux_arm64-bd-68db46a453531d5c_4.txt' } }
process { withName: 'INDEX_POPULATION_ASSIGNMENT' { conda = 'modules/local/index_population_assignment/.conda-lock/linux_arm64-bd-15b9e098f3fff0e2_1.txt' } }
process { withName: 'MERGE_TABLES' { conda = 'modules/local/merge_tables/.conda-lock/linux_arm64-bd-15b9e098f3fff0e2_1.txt' } }
process { withName: 'SPLIT_AA_TABLE_BY_POP' { conda = 'modules/local/split_aa_table_by_population/.conda-lock/linux_arm64-bd-15b9e098f3fff0e2_1.txt' } }
process { withName: 'SPLIT_ALLELE_TABLE_BY_POP' { conda = 'modules/local/split_allele_table_by_population/.conda-lock/linux_arm64-bd-15b9e098f3fff0e2_1.txt' } }
