process { withName: 'CONCAT_TABLES' { container = 'community.wave.seqera.io/library/r_tidyverse:15b9e098f3fff0e2' } }
process { withName: 'EXTRACT_ALLELE_TABLE' { container = 'community.wave.seqera.io/library/pmotools:68db46a453531d5c' } }
process { withName: 'EXTRACT_PANEL_INFO_TO_BED' { container = 'community.wave.seqera.io/library/pmotools:68db46a453531d5c' } }
process { withName: 'EXTRACT_POPULATION_MAP_FROM_PMO' { container = 'community.wave.seqera.io/library/pmotools:68db46a453531d5c' } }
process { withName: 'INDEX_POPULATION_ASSIGNMENT' { container = 'community.wave.seqera.io/library/r_tidyverse:15b9e098f3fff0e2' } }
process { withName: 'MERGE_TABLES' { container = 'community.wave.seqera.io/library/r_tidyverse:15b9e098f3fff0e2' } }
process { withName: 'SPLIT_AA_TABLE_BY_POP' { container = 'community.wave.seqera.io/library/r_tidyverse:15b9e098f3fff0e2' } }
process { withName: 'SPLIT_ALLELE_TABLE_BY_POP' { container = 'community.wave.seqera.io/library/r_tidyverse:15b9e098f3fff0e2' } }
