process { withName: 'ADD_REF_SEQS_WITH_FULL_GENOME_REF_FASTA' { conda = 'modules/local/add_ref_seqs_with_full_genome_ref_fasta/.conda-lock/linux_amd64-bd-18ac1e5b6fdf043b_1.txt' } }
process { withName: 'ADD_REF_SEQS_WITH_TARGETED_REF_FASTA' { conda = 'modules/local/add_ref_seqs_with_targeted_ref_fasta/.conda-lock/linux_amd64-bd-18ac1e5b6fdf043b_1.txt' } }
process { withName: 'CONCAT_TABLES' { conda = 'modules/local/concat_tables/.conda-lock/linux_amd64-bd-c07d709009059eb9_1.txt' } }
process { withName: 'DCIFER_SLAF_WRAPPER' { conda = 'modules/local/dcifer_slaf_wrapper/.conda-lock/linux_amd64-bd-d2fa9b4c3df25acd_1.txt' } }
process { withName: 'ESTIMATE_ALLELE_FREQUENCY_NAIVE' { conda = 'modules/local/estimate_allele_frequency_naive/.conda-lock/linux_amd64-bd-e9024a6dc6e9a694_1.txt' } }
process { withName: 'ESTIMATE_ALLELE_PREVALENCE_NAIVE' { conda = 'modules/local/estimate_allele_prevalence_naive/.conda-lock/linux_amd64-bd-e9024a6dc6e9a694_1.txt' } }
process { withName: 'ESTIMATE_ML_PREVFREQ_NAIVE' { conda = 'modules/local/estimate_multilocus_prevfreq_naive/.conda-lock/linux_amd64-bd-e9024a6dc6e9a694_1.txt' } }
process { withName: 'EXTRACT_ALLELE_TABLE' { conda = 'modules/local/extract_allele_table/.conda-lock/linux_amd64-bd-49e8a88de6f47183_1.txt' } }
process { withName: 'EXTRACT_PANEL_INFO_TO_BED' { conda = 'modules/local/extract_panel_info_to_bed/.conda-lock/linux_amd64-bd-49e8a88de6f47183_1.txt' } }
process { withName: 'EXTRACT_POPULATION_MAP_FROM_PMO' { conda = 'modules/local/extract_population_map_from_pmo/.conda-lock/linux_amd64-bd-49e8a88de6f47183_1.txt' } }
process { withName: 'FEM_WRAPPER' { conda = 'modules/local/fem_wrapper/.conda-lock/linux_amd64-bd-a701cba1416a0e6a_1.txt' } }
process { withName: 'IDM_WRAPPER' { conda = 'modules/local/idm_wrapper/.conda-lock/linux_amd64-bd-8fffb8098c99385c_1.txt' } }
process { withName: 'INDEX_POPULATION_ASSIGNMENT' { conda = 'modules/local/index_population_assignment/.conda-lock/linux_amd64-bd-c07d709009059eb9_1.txt' } }
process { withName: 'MERGE_TABLES' { conda = 'modules/local/merge_tables/.conda-lock/linux_amd64-bd-c07d709009059eb9_1.txt' } }
process { withName: 'MLBM_WRAPPER' { conda = 'modules/local/mlbm_wrapper/.conda-lock/linux_amd64-bd-f62633294b5f1f53_2.txt' } }
process { withName: 'SLAF_FROM_MHAPS_FREQS' { conda = 'modules/local/slaf_from_mhaps_freqs/.conda-lock/linux_amd64-bd-e9024a6dc6e9a694_1.txt' } }
process { withName: 'SLAF_FROM_STAVE_MLAF' { conda = 'modules/local/slaf_from_stave_mlaf/.conda-lock/linux_amd64-bd-4c32c036540c052e_2.txt' } }
process { withName: 'SPLIT_AA_TABLE_BY_POP' { conda = 'modules/local/split_aa_table_by_population/.conda-lock/linux_amd64-bd-c07d709009059eb9_1.txt' } }
process { withName: 'SPLIT_ALLELE_TABLE_BY_POP' { conda = 'modules/local/split_allele_table_by_population/.conda-lock/linux_amd64-bd-c07d709009059eb9_1.txt' } }
process { withName: 'TRANSLATE_LOCI_OF_INTEREST' { conda = 'modules/local/translate_loci_of_interest/.conda-lock/linux_amd64-bd-b373d6f56b2b4b34_1.txt' } }
