process { withName: 'ADD_REF_SEQS_WITH_FULL_GENOME_REF_FASTA' { container = 'oras://community.wave.seqera.io/library/bioc_biostrings:97843eaee53666b9' } }
process { withName: 'ADD_REF_SEQS_WITH_TARGETED_REF_FASTA' { container = 'oras://community.wave.seqera.io/library/bioc_biostrings:97843eaee53666b9' } }
process { withName: 'CONCAT_TABLES' { container = 'oras://community.wave.seqera.io/library/r_tidyverse:902ddf85391a9ad0' } }
process { withName: 'DCIFER_SLAF_WRAPPER' { container = 'oras://community.wave.seqera.io/library/dcifer_slaf_wrapper:c26cdb4ff641c600' } }
process { withName: 'ESTIMATE_ALLELE_FREQUENCY_NAIVE' { container = 'oras://community.wave.seqera.io/library/pgecore_r:ecb4612379d466a9' } }
process { withName: 'ESTIMATE_ALLELE_PREVALENCE_NAIVE' { container = 'oras://community.wave.seqera.io/library/pgecore_r:ecb4612379d466a9' } }
process { withName: 'ESTIMATE_ML_PREVFREQ_NAIVE' { container = 'oras://community.wave.seqera.io/library/pgecore_r:ecb4612379d466a9' } }
process { withName: 'EXTRACT_ALLELE_TABLE' { container = 'oras://community.wave.seqera.io/library/pmotools:d1b39a3d4c4e5e61' } }
process { withName: 'EXTRACT_PANEL_INFO_TO_BED' { container = 'oras://community.wave.seqera.io/library/pmotools:d1b39a3d4c4e5e61' } }
process { withName: 'EXTRACT_POPULATION_MAP_FROM_PMO' { container = 'oras://community.wave.seqera.io/library/pmotools:d1b39a3d4c4e5e61' } }
process { withName: 'FEM_WRAPPER' { container = 'oras://community.wave.seqera.io/library/fem_wrapper:6a6a23fb62a74291' } }
process { withName: 'IDM_WRAPPER' { container = 'oras://community.wave.seqera.io/library/idm_wrapper:f93aded561925363' } }
process { withName: 'INDEX_POPULATION_ASSIGNMENT' { container = 'oras://community.wave.seqera.io/library/r_tidyverse:902ddf85391a9ad0' } }
process { withName: 'MERGE_TABLES' { container = 'oras://community.wave.seqera.io/library/r_tidyverse:902ddf85391a9ad0' } }
process { withName: 'MLBM_WRAPPER' { container = 'oras://community.wave.seqera.io/library/variantstring:43bf268eba967f23' } }
process { withName: 'SLAF_FROM_MHAPS_FREQS' { container = 'oras://community.wave.seqera.io/library/pgecore_r:ecb4612379d466a9' } }
process { withName: 'SLAF_FROM_STAVE_MLAF' { container = 'oras://community.wave.seqera.io/library/variantstring:43bf268eba967f23' } }
process { withName: 'SPLIT_AA_TABLE_BY_POP' { container = 'oras://community.wave.seqera.io/library/r_tidyverse:902ddf85391a9ad0' } }
process { withName: 'SPLIT_ALLELE_TABLE_BY_POP' { container = 'oras://community.wave.seqera.io/library/r_tidyverse:902ddf85391a9ad0' } }
process { withName: 'TRANSLATE_LOCI_OF_INTEREST' { container = 'oras://community.wave.seqera.io/library/translate_loci_of_interest:a447d335d5f0f448' } }
