process { withName: 'ADD_REF_SEQS_WITH_FULL_GENOME_REF_FASTA' { conda = 'modules/local/add_ref_seqs_with_full_genome_ref_fasta/.conda-lock/linux_arm64-bd-a564fac02451aff5_3.txt' } }
process { withName: 'ADD_REF_SEQS_WITH_TARGETED_REF_FASTA' { conda = 'modules/local/add_ref_seqs_with_targeted_ref_fasta/.conda-lock/linux_arm64-bd-a564fac02451aff5_3.txt' } }
process { withName: 'CONCAT_TABLES' { conda = 'modules/local/concat_tables/.conda-lock/linux_arm64-bd-ffee73b5f5db8a6b_1.txt' } }
process { withName: 'DCIFER_SLAF_WRAPPER' { conda = 'modules/local/dcifer_slaf_wrapper/.conda-lock/linux_arm64-bd-f1b020d296a4cb98_1.txt' } }
process { withName: 'ESTIMATE_ALLELE_FREQUENCY_NAIVE' { conda = 'modules/local/estimate_allele_frequency_naive/.conda-lock/linux_arm64-bd-1f0ec0a47e85e3fa_1.txt' } }
process { withName: 'ESTIMATE_ALLELE_PREVALENCE_NAIVE' { conda = 'modules/local/estimate_allele_prevalence_naive/.conda-lock/linux_arm64-bd-1f0ec0a47e85e3fa_1.txt' } }
process { withName: 'ESTIMATE_ML_PREVFREQ_NAIVE' { conda = 'modules/local/estimate_multilocus_prevfreq_naive/.conda-lock/linux_arm64-bd-1f0ec0a47e85e3fa_1.txt' } }
process { withName: 'EXTRACT_ALLELE_TABLE' { conda = 'modules/local/extract_allele_table/.conda-lock/linux_arm64-bd-2f07e739e3cfff13_1.txt' } }
process { withName: 'EXTRACT_PANEL_INFO_TO_BED' { conda = 'modules/local/extract_panel_info_to_bed/.conda-lock/linux_arm64-bd-2f07e739e3cfff13_1.txt' } }
process { withName: 'EXTRACT_POPULATION_MAP_FROM_PMO' { conda = 'modules/local/extract_population_map_from_pmo/.conda-lock/linux_arm64-bd-2f07e739e3cfff13_1.txt' } }
process { withName: 'FEM_WRAPPER' { conda = 'modules/local/fem_wrapper/.conda-lock/linux_arm64-bd-ad86ed2a343c6f13_1.txt' } }
process { withName: 'IDM_WRAPPER' { conda = 'modules/local/idm_wrapper/.conda-lock/linux_arm64-bd-ad0d6ca77f66f5c6_1.txt' } }
process { withName: 'INDEX_POPULATION_ASSIGNMENT' { conda = 'modules/local/index_population_assignment/.conda-lock/linux_arm64-bd-ffee73b5f5db8a6b_1.txt' } }
process { withName: 'MERGE_TABLES' { conda = 'modules/local/merge_tables/.conda-lock/linux_arm64-bd-ffee73b5f5db8a6b_1.txt' } }
process { withName: 'MLBM_WRAPPER' { conda = 'modules/local/mlbm_wrapper/.conda-lock/linux_arm64-bd-52b974f98f8b840e_4.txt' } }
process { withName: 'SLAF_FROM_MHAPS_FREQS' { conda = 'modules/local/slaf_from_mhaps_freqs/.conda-lock/linux_arm64-bd-1f0ec0a47e85e3fa_1.txt' } }
process { withName: 'SLAF_FROM_STAVE_MLAF' { conda = 'modules/local/slaf_from_stave_mlaf/.conda-lock/linux_arm64-bd-ace8317a34749bc2_3.txt' } }
process { withName: 'SPLIT_AA_TABLE_BY_POP' { conda = 'modules/local/split_aa_table_by_population/.conda-lock/linux_arm64-bd-ffee73b5f5db8a6b_1.txt' } }
process { withName: 'SPLIT_ALLELE_TABLE_BY_POP' { conda = 'modules/local/split_allele_table_by_population/.conda-lock/linux_arm64-bd-ffee73b5f5db8a6b_1.txt' } }
process { withName: 'TRANSLATE_LOCI_OF_INTEREST' { conda = 'modules/local/translate_loci_of_interest/.conda-lock/linux_arm64-bd-02fe1797e703fd21_3.txt' } }
