process { withName: 'CONCAT_TABLES' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/7f/7f5e0a41f2a79c39b4a63597087fe5b7c189098b13da95622d4be00e11b7b28f/data' } }
process { withName: 'EXTRACT_ALLELE_TABLE' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/64/64de1303f6e6bdaceaaef450ff8554cd6a919b7f3a654fedafbe02c7f3546597/data' } }
process { withName: 'EXTRACT_PANEL_INFO_TO_BED' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/64/64de1303f6e6bdaceaaef450ff8554cd6a919b7f3a654fedafbe02c7f3546597/data' } }
process { withName: 'EXTRACT_POPULATION_MAP_FROM_PMO' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/64/64de1303f6e6bdaceaaef450ff8554cd6a919b7f3a654fedafbe02c7f3546597/data' } }
process { withName: 'INDEX_POPULATION_ASSIGNMENT' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/7f/7f5e0a41f2a79c39b4a63597087fe5b7c189098b13da95622d4be00e11b7b28f/data' } }
process { withName: 'MERGE_TABLES' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/7f/7f5e0a41f2a79c39b4a63597087fe5b7c189098b13da95622d4be00e11b7b28f/data' } }
process { withName: 'SPLIT_AA_TABLE_BY_POP' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/7f/7f5e0a41f2a79c39b4a63597087fe5b7c189098b13da95622d4be00e11b7b28f/data' } }
process { withName: 'SPLIT_ALLELE_TABLE_BY_POP' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/7f/7f5e0a41f2a79c39b4a63597087fe5b7c189098b13da95622d4be00e11b7b28f/data' } }
