process { withName: 'ADD_REF_SEQS_WITH_FULL_GENOME_REF_FASTA' { container = 'community.wave.seqera.io/library/add_ref_seqs_biostrings:18ac1e5b6fdf043b' } }
process { withName: 'ADD_REF_SEQS_WITH_TARGETED_REF_FASTA' { container = 'community.wave.seqera.io/library/add_ref_seqs_biostrings:18ac1e5b6fdf043b' } }
process { withName: 'CONCAT_TABLES' { container = 'community.wave.seqera.io/library/r_tidyverse:7733a7ba430c76e1' } }
process { withName: 'DCIFER_SLAF_WRAPPER' { container = 'community.wave.seqera.io/library/dcifer_slaf_wrapper:d418b71ff1cb5828' } }
process { withName: 'ESTIMATE_ALLELE_FREQUENCY_NAIVE' { container = 'community.wave.seqera.io/library/pgecore:e9024a6dc6e9a694' } }
process { withName: 'ESTIMATE_ALLELE_PREVALENCE_NAIVE' { container = 'community.wave.seqera.io/library/pgecore:e9024a6dc6e9a694' } }
process { withName: 'ESTIMATE_ML_PREVFREQ_NAIVE' { container = 'community.wave.seqera.io/library/pgecore:e9024a6dc6e9a694' } }
process { withName: 'EXTRACT_ALLELE_TABLE' { container = 'community.wave.seqera.io/library/pmotools:49e8a88de6f47183' } }
process { withName: 'EXTRACT_PANEL_INFO_TO_BED' { container = 'community.wave.seqera.io/library/pmotools:49e8a88de6f47183' } }
process { withName: 'EXTRACT_POPULATION_MAP_FROM_PMO' { container = 'community.wave.seqera.io/library/pmotools:49e8a88de6f47183' } }
process { withName: 'FEM_WRAPPER' { container = 'community.wave.seqera.io/library/fem_wrapper:5fbe1aa4f80981ca' } }
process { withName: 'IDM_WRAPPER' { container = 'community.wave.seqera.io/library/idm_wrapper:1a9e1a40d75bade3' } }
process { withName: 'INDEX_POPULATION_ASSIGNMENT' { container = 'community.wave.seqera.io/library/r_tidyverse:7733a7ba430c76e1' } }
process { withName: 'MERGE_TABLES' { container = 'community.wave.seqera.io/library/r_tidyverse:7733a7ba430c76e1' } }
process { withName: 'MLBM_WRAPPER' { container = 'community.wave.seqera.io/library/mlbm_wrapper:f62633294b5f1f53' } }
process { withName: 'SLAF_FROM_MHAPS_FREQS' { container = 'community.wave.seqera.io/library/pgecore:e9024a6dc6e9a694' } }
process { withName: 'SLAF_FROM_STAVE_MLAF' { container = 'community.wave.seqera.io/library/slaf_from_stave_mlaf:4c32c036540c052e' } }
process { withName: 'SPLIT_AA_TABLE_BY_POP' { container = 'community.wave.seqera.io/library/r_tidyverse:7733a7ba430c76e1' } }
process { withName: 'SPLIT_ALLELE_TABLE_BY_POP' { container = 'community.wave.seqera.io/library/r_tidyverse:7733a7ba430c76e1' } }
process { withName: 'TRANSLATE_LOCI_OF_INTEREST' { container = 'community.wave.seqera.io/library/translate_loci_of_interest:b373d6f56b2b4b34' } }
