process { withName: 'ADD_REF_SEQS_WITH_FULL_GENOME_REF_FASTA' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/0d/0dc4ffdb79225a99b88d0a7fc266561d5d468a7c9defe575446a87c0538b8fe3/data' } }
process { withName: 'ADD_REF_SEQS_WITH_TARGETED_REF_FASTA' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/0d/0dc4ffdb79225a99b88d0a7fc266561d5d468a7c9defe575446a87c0538b8fe3/data' } }
process { withName: 'CONCAT_TABLES' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/7f/7f5e0a41f2a79c39b4a63597087fe5b7c189098b13da95622d4be00e11b7b28f/data' } }
process { withName: 'DCIFER_SLAF_WRAPPER' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/f2/f2f381e356fdcfdb4ab13813515d36a5ea6bdc49102c5091ad8f2cc5a7a6b5e5/data' } }
process { withName: 'ESTIMATE_ALLELE_FREQUENCY_NAIVE' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/e8/e88d9eb25521707812878be68bfcb5a86627875e07d7a1a9e42bda70e0294b20/data' } }
process { withName: 'ESTIMATE_ALLELE_PREVALENCE_NAIVE' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/e8/e88d9eb25521707812878be68bfcb5a86627875e07d7a1a9e42bda70e0294b20/data' } }
process { withName: 'ESTIMATE_ML_PREVFREQ_NAIVE' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/e8/e88d9eb25521707812878be68bfcb5a86627875e07d7a1a9e42bda70e0294b20/data' } }
process { withName: 'EXTRACT_ALLELE_TABLE' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/64/64de1303f6e6bdaceaaef450ff8554cd6a919b7f3a654fedafbe02c7f3546597/data' } }
process { withName: 'EXTRACT_PANEL_INFO_TO_BED' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/64/64de1303f6e6bdaceaaef450ff8554cd6a919b7f3a654fedafbe02c7f3546597/data' } }
process { withName: 'EXTRACT_POPULATION_MAP_FROM_PMO' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/64/64de1303f6e6bdaceaaef450ff8554cd6a919b7f3a654fedafbe02c7f3546597/data' } }
process { withName: 'FEM_WRAPPER' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/82/826cf8fa1092f5d0ae7294d004cef8692ea77489254fbca67bd38d9aca6a1049/data' } }
process { withName: 'IDM_WRAPPER' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/6d/6df78da3cf639406152e2bb4c1ebf3aab3cfe702cac6c20c59cbac9f78dd5e3e/data' } }
process { withName: 'INDEX_POPULATION_ASSIGNMENT' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/7f/7f5e0a41f2a79c39b4a63597087fe5b7c189098b13da95622d4be00e11b7b28f/data' } }
process { withName: 'MERGE_TABLES' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/7f/7f5e0a41f2a79c39b4a63597087fe5b7c189098b13da95622d4be00e11b7b28f/data' } }
process { withName: 'MLBM_WRAPPER' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/77/77b433709cfab6a81cf1982e0043832542e16687e6c5ef7ca957b7a7977f45fa/data' } }
process { withName: 'SLAF_FROM_MHAPS_FREQS' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/e8/e88d9eb25521707812878be68bfcb5a86627875e07d7a1a9e42bda70e0294b20/data' } }
process { withName: 'SLAF_FROM_STAVE_MLAF' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/13/13c2e282dc9f2dfe543a5995b1375589812a0952d9d0ea1f5d9db9331cd55966/data' } }
process { withName: 'SPLIT_AA_TABLE_BY_POP' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/7f/7f5e0a41f2a79c39b4a63597087fe5b7c189098b13da95622d4be00e11b7b28f/data' } }
process { withName: 'SPLIT_ALLELE_TABLE_BY_POP' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/7f/7f5e0a41f2a79c39b4a63597087fe5b7c189098b13da95622d4be00e11b7b28f/data' } }
process { withName: 'TRANSLATE_LOCI_OF_INTEREST' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/fb/fbef6e0429b22c1df79a4e1e3f60c711e6287132124fe54b6ef9f6bca0899b87/data' } }
