process { withName: 'ADD_REF_SEQS_WITH_FULL_GENOME_REF_FASTA' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/fa/fa5e7a47124ffe90a02dcbdc8d87234f42aa88ec26014d4f45928f92b647052a/data' } }
process { withName: 'ADD_REF_SEQS_WITH_TARGETED_REF_FASTA' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/fa/fa5e7a47124ffe90a02dcbdc8d87234f42aa88ec26014d4f45928f92b647052a/data' } }
process { withName: 'CONCAT_TABLES' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/25/25ec37d72caff047524cad028f190afbd7e97ff61cba29d8172883993c8a5c75/data' } }
process { withName: 'DCIFER_SLAF_WRAPPER' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/05/05f1d70c93e8c8b63e03d0b0e1e29d4fedf8994a66f43a8886539bcbadafe10e/data' } }
process { withName: 'ESTIMATE_ALLELE_FREQUENCY_NAIVE' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/b8/b8b5976e182bb3b8f3b3073fe7ccb663bfa240ef8476d59faf2cccf8b180fe6f/data' } }
process { withName: 'ESTIMATE_ALLELE_PREVALENCE_NAIVE' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/b8/b8b5976e182bb3b8f3b3073fe7ccb663bfa240ef8476d59faf2cccf8b180fe6f/data' } }
process { withName: 'ESTIMATE_ML_PREVFREQ_NAIVE' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/b8/b8b5976e182bb3b8f3b3073fe7ccb663bfa240ef8476d59faf2cccf8b180fe6f/data' } }
process { withName: 'EXTRACT_ALLELE_TABLE' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/18/189c44118da9b46a927fb57c5ca01460fb93bfbc4b85bcb4484036888b8d5878/data' } }
process { withName: 'EXTRACT_PANEL_INFO_TO_BED' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/18/189c44118da9b46a927fb57c5ca01460fb93bfbc4b85bcb4484036888b8d5878/data' } }
process { withName: 'EXTRACT_POPULATION_MAP_FROM_PMO' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/18/189c44118da9b46a927fb57c5ca01460fb93bfbc4b85bcb4484036888b8d5878/data' } }
process { withName: 'FEM_WRAPPER' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/80/80a01e74c5e39ae20dfe8bfd9d0e1096372cd489febd1efc85f902f9ee880949/data' } }
process { withName: 'IDM_WRAPPER' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/90/90d55445518a2cd019ee14b614bf95a334d7f4a6f431fd118f54b7efdef72c2a/data' } }
process { withName: 'INDEX_POPULATION_ASSIGNMENT' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/25/25ec37d72caff047524cad028f190afbd7e97ff61cba29d8172883993c8a5c75/data' } }
process { withName: 'MERGE_TABLES' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/25/25ec37d72caff047524cad028f190afbd7e97ff61cba29d8172883993c8a5c75/data' } }
process { withName: 'MLBM_WRAPPER' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/81/81b920f9fbdfb306833b8fb40a0613cc6ab2ceb9ed5f185957da55b00e4d5281/data' } }
process { withName: 'SLAF_FROM_MHAPS_FREQS' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/b8/b8b5976e182bb3b8f3b3073fe7ccb663bfa240ef8476d59faf2cccf8b180fe6f/data' } }
process { withName: 'SLAF_FROM_STAVE_MLAF' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/81/81b920f9fbdfb306833b8fb40a0613cc6ab2ceb9ed5f185957da55b00e4d5281/data' } }
process { withName: 'SPLIT_AA_TABLE_BY_POP' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/25/25ec37d72caff047524cad028f190afbd7e97ff61cba29d8172883993c8a5c75/data' } }
process { withName: 'SPLIT_ALLELE_TABLE_BY_POP' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/25/25ec37d72caff047524cad028f190afbd7e97ff61cba29d8172883993c8a5c75/data' } }
process { withName: 'TRANSLATE_LOCI_OF_INTEREST' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/3d/3d094be5e8095ff83cf9b7bf80b33b60f14a0690d9ea93079eb1c4ff6949e422/data' } }
