/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running PMO-based tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files required to run the pipeline starting from a PMO file.

    Use as follows:
        nextflow run nf-core/plasmodiumdrugres -profile test_pmo,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}

params {
    config_profile_name        = 'Test PMO profile'
    config_profile_description = 'Minimal test dataset starting from PMO input'

    pmo                    = params.pipelines_testdata_base_path + 'testdata/example_PMO.json'
    loci_of_interest_bed   = params.pipelines_testdata_base_path + 'testdata/loci_of_interest.bed'
    loci_groups            = params.pipelines_testdata_base_path + 'testdata/loci_groups.tsv'
    pmo_population_fields  = "collection_country"
}
