/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running full-size tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run nf-core/plasmodiumdrugres -profile test_full,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Full test profile'
    config_profile_description = 'Full test dataset to check pipeline function'

    // MAD4HatTeR surveillance data from Eswatini, Namibia, South Africa and Zambia (1,646 specimens).
    // See the nf-core/test-datasets plasmodiumdrugres branch README for provenance.
    pmo                   = params.pipelines_testdata_base_path + 'testdata/dataset1_pmo_qc_pass_with_locations.json.gz'
    loci_of_interest_bed  = params.pipelines_testdata_base_path + 'testdata/dataset1_loci_of_interest.bed'
    loci_groups           = params.pipelines_testdata_base_path + 'testdata/dataset1_loci_groups.tsv'
    pmo_population_fields = "collection_country"
}
