params {
    // MLAF method
    mlaf_method                = "naive"
    naive_mlaf_method          = "wsaf_prop"

    // SLAF method
    slaf_method                           = "naive"
    slaf_method_mhaps_freq_method         = "dcifer"
    naive_slaf_method                     = "read_count_prop"
}

process {
    withName: 'MLBM_WRAPPER' {
        // Assign a closure which returns a string
        ext.args = { [
            params.mlbm_wrapper_aa_specimen_occurence_cut_off ? "--aa_sample_occurence_cut_off ${params.mlbm_wrapper_aa_specimen_occurence_cut_off}" : ""
        ].join(" ")
        }
    }

    withName: 'ESTIMATE_ML_PREVFREQ_NAIVE' {
        // Assign a closure which returns a string
        ext.args = { [
            params.naive_multilocus_wsaf_cut_off ? "--wsaf_cut_off ${params.naive_multilocus_wsaf_cut_off}" : ""
        ].join(" ")
        }
    }
    withName: 'DCIFER_SLAF_WRAPPER' {
        // Assign a closure which returns a string
        ext.args = { [
            params.dcifer_slaf_wrapper_coi_lrank ? "--coi_lrank ${params.dcifer_slaf_wrapper_coi_lrank}" : "",
            params.dcifer_slaf_wrapper_qstart ? "--qstart ${params.dcifer_slaf_wrapper_qstart}" : "",
            params.dcifer_slaf_wrapper_tol ? "--tol ${params.dcifer_slaf_wrapper_tol}" : ""

        ].join(" ")
        }
    }
}
